* {
	margin: 0;
	padding: 0;
	outline: 0;
}

/* ESTILOS DE EL LOGO*/
#logo{
	background-color: #727F28;
	width: 100%;
	height: auto;
	padding: 5px;
	border-radius: 10px 0px 0px 0px;
	max-width: 1000px;
	margin: 0px auto;
	-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-box-sizing:border-box;
}

#logo img{
	background-color: white;
	width: 20%;
	height: auto;
	opacity: .5;
	border-radius: 10px;
	transition: all 0.5s linear 0s;
}

#logo img:hover{
	background-color: white;
	width: 20%;
	height: auto;
	opacity: 1;
	border-radius: 10px;
	transition: all 0.3s linear 0s;
}




#header {
	width: 100%;

}

#header nav{
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	 background: none repeat scroll 0 0 rgba(0,0,0,0.6);
	z-index: 1000;
}

#header nav ul{
	overflow: hidden;/* independiza al usar float left*/
	list-style: none;/*quita los puntos de la lista*/
}

#header nav ul li{
	float: left;/*alinea la lista hacia la derecha*/
}

#header nav ul li a{
	padding: 20px;
	display: block;
	text-decoration: none;
	color: black;
	font-family: Tahoma;
	font-size: 20px;
	transition: all 0.3s linear 0s;
}

#header nav ul li a:hover{
	padding: 20px;
	background-color: #F2F2F2;
	display: block;
	text-decoration: none;
	transition: all 0.3s linear 0s;
}

#foter{
	border-top: 10px solid #D9FF04;
	margin: 0px auto;
	width: 100%;
	max-width: 1000px;
	height: auto;
	background: rgba(0,0,0,0.6);
	text-align: center;
	padding: 30px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-box-sizing:border-box;
}

#contenido{
	margin: 0px auto;
	width: 100%;
	max-width: 1000px;
	height: 430px;
}

#tituloseccion{
	width: 100%;
	background-color: #FF514C;
	text-align: center;
	font-size: 20px;
}